<div class="container">
    <form method=POST action="/search">
        {% csrf_token %}
        <div class="row">
            <div class="col-11">
                <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" name="searched"/>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </div>
    </form>
</div>